#php_value auto_prepend_file "/var/www/html/app/otras_provincias/seguridad.php"
#php_value auto_prepend_file "/srv/app/otras_provincias/seguridad.php"
#php_value auto_prepend_file "/var/www/sitio/app/otras_provincias/seguridad.php"
#php_value error_reporting 1