@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url('../../fonts/MyriadPro-BoldCond.ttf');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../../fonts/MyriadPro-Semibold.otf');
}

@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url('../../fonts/MyriadPro-BoldCond.otf');
}

body {
    font-family: Verdana;
         overflow-x: hidden;
     overflow-y: hidden;
         margin: 0;
}

#incentivo,
#tipo_incentivo,
#resumen {
    width: 1366px;
    height: 767px;
    margin: 0 auto;
    position: relative;
    font-family: 'MyriadPro-BoldCond';
    color: #484847;
}

#tipo_incentivo {
    top: 169px;
    left: 70px;
    position: absolute;
    width: 430px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    font-size: 100%;
}

#aleatorio_entero {
    top: 436px;left: 217px;
    position: absolute;
    text-align: center;
    font-size: 97px;
}

#aleatorio_fraccion {
    top: 438px;
    left: 585px;
    position: absolute;
    text-align: center;
    font-size: 97px;
}

#sucursal {
    top: 395px;
    left: 140px;
    position: absolute;
    font-size: 20px;
}

#agencia {
    top: 590px;
    left: 124px;
    position: absolute;
    font-size: 43px;
    text-align: center;
}

#nombre_d {top: 590px;left: 217px;position: absolute;font-size: 43px;text-align: center;}

#localidad_d {
    top: 695px;
    left: 131px;
    position: absolute;
    font-size: 43px;
    text-align: center;
}

#billete_d {top: 376px;left: 217px;position: absolute;text-align: center;font-size: 97px;}

#fraccion_d {
  top: 375px;
  left: 617px;
  position: absolute;
  text-align: center;
  font-size: 97px;
}

#prescripcion_d {
    top: 608px;
    left: 519px;
    position: absolute;
    text-align: center;
    font-size: 27px;
}

#prox_sorteo_d {
    top: 608px;
    left: 720px;
    position: absolute;
    text-align: center;
    font-size: 27px;
}

#premio_prox_sorteo_d {
    top: 454px;
    left: 805px;
    position: absolute;
    text-align: center;
    font-size: 15px;
    width: 211px;
}

#jefe_sorteo_d {
        top: 647px;
    left: 870px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    width: 138px;
    /* border: 1px solid; */
}

#escribano_d {
        top: 647px;
    left: 1035px;

    position: absolute;
    text-align: center;
    width: 138px;
    font-size: 14px;
    /* border: 1px solid; */
}

#orden {
    position: absolute;
       top: 326px;
    left: 171px;
    font-size: 59px;
}

#ganadores {position: absolute;top: 139px;left: 140px;}

.billete {
    width: 108px;
    /* height: 60%; */
    font-size: 39px;
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.fraccion {
    width: 94px;
    font-size: 39px;
    float: left;
    text-align: center;
}
.premio_r{width: 165px;font-size: 14px;float: left;text-align: center;line-height: 18px;padding-top: 4px;/* border: 1px solid; */}
.ganador {
    height: 74px;
    /* line-height: 46px; */
    vertical-align: middle;
    /* border: 1px solid #020202; */
    margin-bottom: 4px;
    /* position: relative; */
    /* display: block; */
    /* border: 1px solid; */
}

.ganador {}
#sorteo{
    position: absolute;
    left: 975px;
    top: 199px;
    font-size: 39px;
}

#sorteo_r{
    position: absolute;
    top: 216px;
    left: 1068px;
    font-size: 29px;
}

#fecha_sorteo_r{
    position: absolute;
    top: 51px;
    left: 686px;
    font-size: 32px;
}

.premio {
    font-size: 11px;
    float: left;
    text-align: center;
    margin: 10px 0px 0 0;
}

.agencia {
     width: 102px;
     font-size: 39px;
     float: left;
     text-align: center;
     vertical-align: middle;
     /* position: relative; */
     left: 100px;
}

.sucursal {width: 209px;font-size: 23px;float: left;/* text-align: center; */vertical-align: middle;position: relative;left: 4px;top: 3px;height: 47px;line-height: 16px;}

#jefe_sorteo_r {position: absolute;top: 704px;left: 278px;text-align: center;font-size: 13px;width: 138px;/* border: 1px solid; */}

#escribano_r {
    position: absolute;
    top: 704px;
    left: 399px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    width: 138px;
}

#prescripcion_r {
    position: absolute;
    top: 617px;
    left: 445px;
    font-size: 27px;
}

#premio_prox_sorteo_r {
position: absolute;
    top: 617px;
    left: 619px;
    font-size: 27px;
}
.premios{
    position: absolute;
    top: 602px;
    left: 781px;
}
#premio{
    position: absolute;
    top: 331px;
    left: 297px;
    font-size: 21px;
    width: 452px;
    text-align: center;
    /*border: 1px solid;*/
}

#fecha_sorteo{
 position: absolute;
 left: 589px;
 top: 235px;
 font-size: 32px;
}